<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  autoreload="true"
  interalloglevel="trace"
  internallogfile="C:\DEVO\BookStore-API\BookStore-API\BookStore-API\logs\internallog.txt"

  <targets>
    <target
      xsi:type="File"
      name="logfile"
      filename="C:\DEVO\BookStore-API\BookStore-API\BookStore-API\logs\${shortdate}_logfile.txt"
      layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>